body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav {
  text-align: right;
  margin-top: 3em;
  margin-right: 1em;
}
nav a {
  background-color: black;
  color: white;
  padding: 1em;
  border: 2px solid white;
  text-decoration: none;
}
main h1 {
  font-size: 5em;
}
main h1::after {
  content: "✍️";
}
main h1::before {
  content: "✍️";
}
main h2 {
  font-size: 3em;
}
.typing {
  margin-left: 10px;
  position: relative;
  justify-content: center;
}
.typing::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  border-right: 2px solid white;
  animation: blink 0.9s infinite ease-in-out;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}
section {
  min-height: min-content;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.hand-drawn {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 1em;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;

  border-top-left-radius: 300px 10px;
  border-top-right-radius: 10px 300px;
  border-bottom-right-radius: 300px 10px;
  border-bottom-left-radius: 10px 300px;

  border: solid 2px white;
}
.emoji {
  position: absolute;
  font-size: 1em;
  animation: rise 15s infinite ease;
}
@keyframes rise {
  100% {
    top: 1vh;
    font-size: 3rem;
  }
}
