<!DOCTYPE html>
<html lang="en">
    {{ partial "head" .}}
<body>
    {{partial "header"}}
    <section class="poems">
        <h1>My Scribblings</h1>
        <ul>
       {{range .Paginator.Pages}}
       <a href="{{.Permalink}}">
       <li>
            {{.Title}}
       </li>
       </a>
       {{end}}
    </ul>
    {{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav aria-label="Page navigation" class="pag">
        {{ if $pag.HasPrev }}
        <a href="{{ $pag.Prev.URL }}" rel="prev">&laquo; Prev</a>
        {{ end }}
        {{ if $pag.HasNext }}
        <a href="{{ $pag.Next.URL }}" rel="next">Next &raquo;</a>
        {{ end }}
</nav>
{{ end }}
    
    </section>
    
</body>
</html>

