<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poems</title>
    <link rel="stylesheet" href="/css/gruvbox.css">
    <link rel="stylesheet" href="/css/snow.css">
    <link rel="stylesheet" href="/css/this.css">
</head>
<body>
    {{partial "header"}}
    <section class="poems">
    <h1>{{.Title}}</h1>
    <h2>{{.Params.desc}}</h2>
    <div class="border">
        <code>{{.Content}}</code>
    </div>
    </section>
</body>
</html>