.nav {
  display: flex;
  justify-content: center;
}
.main {
  background-color: #282828;
}
a {
  margin: 0.5em;
  color: #ff2e88;
}
a:visited
{
  color: #ff2e88;
}
h1 {
  color: #98971a;
  position: relative;
  padding: 1em;
  overflow: hidden;
  font-size: 1em;
}
h2 {
  color: #98971a;
  font-size: 1em;
}
h1::after {
  content: "==============================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================";
  bottom: 0.1em;
  left: 0;
  position: absolute;
}
.avatar {
  display: block;
  width: 15rem;
  height: 20rem;
  float: left;
}
.poems {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.border {
  border: 3px groove #98971a;
  padding: 1em;
}
footer {
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.O
{
    width: 15rem;
    height: 15rem;
}
.wrapper
{
  display: flex;
  justify-content: center;
}
.four
{
  font-size: 6rem;
  transform: rotate(10deg);
}
.o-four
{
  font-size: 6rem;
  transform: rotate(-30deg);
}
.ftxt
{
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .avatar {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .home
  {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
}