<!DOCTYPE html>
<html>
    <head>
        <title>{{.Site.Title}}</title>
        <link rel="stylesheet" href="/css/gruvbox.css">
        <link rel="stylesheet" href="/css/snow.css">
        <link rel="stylesheet" href="/css/this.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="LunaticHacker lives here">
        
    </head>
    <body class="snow">
        {{partial "header"}}
            
        <main class="main">
            <div class="wrapper">
            <p class="four">4</p>
            <img class="O" src="/images/O.png" alt="Digital Avatar of LunaticHacker">
            <p class="o-four">4</p>
        </div>
        <p class="ftxt">No,I don't have it</p>
        </main>
        
    </body>
</html>