<!DOCTYPE html>
<html>
    <head>
        <title>{{.Site.Title}}</title>
        <link rel="stylesheet" href="/css/gruvbox.css">
        <link rel="stylesheet" href="/css/snow.css">
        <link rel="stylesheet" href="/css/this.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="LunaticHacker lives here">
        
    </head>
    <body class="snow">
        {{partial "header"}}
            
        <main>
            <img class="avatar" src="/images/avatar.png" alt="Digital Avatar of LunaticHacker">
            <h1>LunaticHacker</h1>
            
                <p class="intro">Hi I'm LunaticHacker, I spend most of my time writing code or researching ideas to code,if you are looking for my code check out my <a href="https://github.com/LunaticHacker">Github</a>
                This is my place to share my art and philosophy checkout my <a href="/poems">Poems</a>
                </p>
        </main>
        {{partial "footer"}}
        
    </body>
</html>